<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <title>Salmaan Pehlari</title>
    <link rel="shortcut icon" type="image/x-icon"
          href=""/>

    <meta name="projects_count" content="2"/>
    <link rel="stylesheet" media="all"
          href="/stylesheets/main.css"/>
    <script src="/javascripts/main.js"></script>

</head>
<body>
<div class="page">
    <div id="h" style="background-image: linear-gradient(rgba(0, 182, 255, 0.7), rgba(0, 182, 255, 0.7)), url(/images/cover.jpeg);">
        <div class="logo"><h2>SALMAAN</h2></div>
        <div class="container centered">
            <div class="row">
                <div class="col-md-8 col-md-offset-2"><h1 class="greeting" style="margin-top:50px;margin-bottom:0px">Hi,
                        my name is <b>Salmaan Pehlari</b></h1>
                    <h1 class="mission-statement">I do things</h1></div>
            </div>
        </div>
    </div>
    <div class="container ptb" style="padding-top:50px;padding-bottom:20px">
        <div class="row"><h2 class="centered mb">Graduate Student at San Jose State University</h2></div>
    </div>
    <div id="g2">
        <div class="container">
            <div class="row centered"><h2 style="margin-top:62px">Check out some of my projects and passions</h2>
                <div class="col-md-8 col-md-offset-2"></div>
            </div>
        </div>
        <div class="portfolio-centered mt"></div>
        <div class="recentitems portfolio">
            <div class="portfolio-item">
                <div class="he-wrap tpl6"><img class="img img-responsive"
                                               src="/images/kabaurkya.png"
                                               alt="Capture"/>
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn"><h3 class="a1" data-animate="fadeInDown">News
                                Aggregator and Summarizer</h3><h5 class="a1" data-animate="fadeInDown"
                                                                  style="padding-left:10px;padding-right:10px;color:white;">
                                A website which gives you the lowdown of what happened in the world. Everything you need
                                to know, fast and to the point.</h5><a class="dmbutton a2"
                                                                       style="margin: 10px 5px 20px 5px" target="_blank"
                                                                       data-animate="fadeInUp"
                                                                       href="http://www.kabaurkya.xyz/worldnews.php"><i
                                        class="ion-link"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="portfolio-item">
                <div class="he-wrap tpl6"><img class="img img-responsive"
                                               src="/images/samacharbot2.png"
                                               alt="Capture"/>
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn"><h3 class="a1" data-animate="fadeInDown">
                                Samacharbot2</h3><h5 class="a1" data-animate="fadeInDown"
                                                     style="padding-left:10px;padding-right:10px;color:white;">Reddit
                                bot which finds posts containing news articles and creates a summary along with posting
                                related news links</h5><a class="dmbutton a2" style="margin: 10px 5px 20px 5px"
                                                          target="_blank" data-animate="fadeInUp"
                                                          href="https://www.reddit.com/u/samacharbot2"><i
                                        class="ion-link"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt hear-from-you">
            <div class="row clients centered"><h1>I would love to hear from you</h1><a id="publicEmail"
                                                                                       class="btn btn-conf btn-lg"
                                                                                       style="margin-top:25px"
                                                                                       href="mailto:salmaanpehlari@gmail.com">
                    <h4>Get in touch</h4></a></div>
        </div>
    </div>
    <div id="f">
        <div class="container">
            <div class="row centered">
                <div class="col-md-8 col-md-offset-2"><h4 style="color:white"> © 2016 Salmaan Pehlari</h4><h6><a
                                class="footer-link" href="http://www.somebody.io">Created by Somebody</a></h6></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>